.home {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
}

.home-site {}

.home-site-name {
    text-align: center;
    padding: 0% 0% 10% 0%;
    width: auto;
}

.home-site-name1 {
    margin: 0;
}

.site-logo {
    margin: 0 auto;
    width: 100px;
    border-radius: 100%;
}