<main>
    <div class="home">
        {{ with .Site.Params.sidebar.avatar }}
        {{ if (default true .enabled) }}
        <figure class="site-logo">
            <a href="{{ .Site.BaseURL | relLangURL }}">
                {{ $avatar := resources.Get (.src) }}
                {{ if $avatar }}
                {{ $avatarResized := $avatar.Resize "300x" }}
                <img src="{{ $avatarResized.RelPermalink }}" width="{{ $avatarResized.Width }}"
                    height="{{ $avatarResized.Height }}" class="site-logo" loading="lazy" alt="Avatar">
                {{ else }}
                {{ errorf "Failed loading avatar from %q" . }}
                {{ end }}
            </a>
        </figure>
        {{ end }}
        {{ end }}
        <div class="home-site-name">
            <h2 class="home-site-name1">{{ .Site.Title }} 的个人博客</h2>
            <h4 class="home-site-name1">{{ .Site.Params.myBlog.subtitle }}</h4>
        </div>
    </div>
</main>